@media screen and (max-width: 1500px) {
  /* 우리독도 >> 이유 */
  .reason-box > .inner {
    padding: 0 10rem;
  }
}
@media screen and (max-width: 1400px) {
  /* 헤더 */
  header > .inner {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 1390px) {
  /* 독도가는길 */
  .go > .go-bg > .inner {
    padding: 0 25px 0 25px;
  }
}
@media screen and (max-width: 1300px) {
  /* 우리독도 >> 이유 */
  .swiper-pagination {
    margin-right: 2rem;
  }
  .reason-txt > h3 {
    font-size: 4rem;
  }
  .reason-txt p {
    font-size: 1.5rem;
  }
  .reason-txt p {
    margin: 30px 0 50px;
  }
}
@media screen and (max-width: 1024px) {
  /* 헤더 */
  nav {
    display: none;
  }
  .bt-menu {
    display: block;
  }
  .header-right-icon {
    display: none;
  }
  .fa-chevron-down {
    display: none;
  }
  .language-box {
    display: none;
  }
  .header-right-m {
    display: flex;
  }
}
@media screen and (max-width: 960px) {
  /* 비쥬얼 */
  .video-w {
    display: none;
  }
  .video-m {
    display: block;
    width: 100%;
    max-width: 960px;
    height: auto;
  }
  .visual {
    height: auto;
  }
  /* 우리독도 >> 이유 */
  .reason-img img {
    width: 60%;
  }
  .reason-img {
    text-align: right;
  }
  .reason-box > .inner {
    flex-direction: column-reverse;
    gap: 0rem;
  }
}
@media screen and (max-width: 900px) {
  .go > .go-bg > .inner {
    padding: 0 20px;
  }
  .go-map-bottom-list > li > img {
    width: 90%;
    height: auto;
  }
  .go-map-bottom-list > li > a > img {
    width: 90%;
  }
  .go-map-ulleung > span {
    font-size: 1.8rem;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translateX(-50%);
  }
  .go-map-dockdo > a > .dong {
    font-size: 1.8rem;
    position: absolute;
    top: 19%;
    left: 25%;
  }
  .go-map-dockdo > a > .seo {
    font-size: 1.8rem;
    position: absolute;
    top: 42%;
    left: 58%;
  }
  .go-map-list-dokdo > span {
    content: "";
    padding: 35px;
    top: 0;
    right: 20px;
  }
  .go-map-list-dokdo > p {
    position: absolute;
    top: 33px;
    right: 40px;
    font-size: 1.7rem;
  }
  .go-map-list-dokdo > img {
    width: 45px;
    height: auto;
    position: absolute;
    top: -15px;
    right: -5px;
  }
}
@media screen and (max-width: 800px) {
  /* 우리독도 >> 이유 */
  .reason-img img {
    width: 70%;
  }
  .reason-txt > h3 {
    font-size: 3.5rem;
  }
  .reason-img p em {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
  }
  .reason-img p {
    font-size: 5rem;
  }
  /* 독도가는길 */
  .go > .go-bg > .inner {
    padding: 0 15px;
  }
}
@media screen and (max-width: 750px) {
  /* 독도가는길 */
  .go > .go-bg > .inner {
    padding: 0 10px;
  }
}
@media screen and (max-width: 700px) {
  /* 독도가는길 */
  .go-map-list-dokdo > span {
    content: "";
    padding: 30px;
    top: 0;
    right: 25px;
  }
  .go-map-list-dokdo > p {
    position: absolute;
    top: 27px;
    right: 40px;
    font-size: 1.5rem;
  }
  .go-map-list-dokdo > img {
    width: 40px;
    height: auto;
    position: absolute;
    top: -17px;
    right: 10px;
  }
  /* 독도가는길 예매 */
  .go-map-top {
    height: 130px;
  }
  .go-map-top .go-map-top-list li i {
    font-size: 2.5rem;
    padding: 15px 0;
  }
  .go-map-top .go-map-top-list li p {
    font-size: 1.6rem;
    font-family: "GmarketSansMiddle";
  }
  .go-map-top .go-map-top-list li button {
    margin-top: 15px;
    padding: 5px 10px;
  }
}
@media screen and (max-width: 650px) {
  /* 독도가는길 */
  .go-map-list-dokdo > span {
    content: "";
    padding: 25px;
    top: 0;
    right: 27px;
  }
  .go-map-list-dokdo > p {
    position: absolute;
    top: 23px;
    right: 38px;
    font-size: 1.3rem;
  }
  .go-map-list-dokdo > img {
    width: 38px;
    height: auto;
    position: absolute;
    top: -20px;
    right: 10px;
  }
}
@media screen and (max-width: 600px) {
  /* 헤더 */
  .logo img {
    width: 110px;
    height: auto;
  }
  .nav-m {
    width: 80%;
  }
  .nav-m-active {
    left: calc(100% - 80%);
  }
  .nav-m > .header-right-m {
    display: flex;
    gap: 10px;
  }
  /* 우리독도 >> 이유 */
  .reason-box > .inner {
    padding: 0 4rem;
    gap: 5rem;
  }
  .reason-img {
    text-align: left;
  }
  .reason-img img {
    width: 95%;
  }
  .reason-txt {
    text-align: left;
  }
  .reason-txt > h3 {
    font-size: 3rem;
  }
  .reason-txt p {
    margin: 3rem 0 3.5rem 0;
    font-size: 1.5rem;
    line-height: 1.5;
    /* 2줄 말줄임 출력 */
    height: 4.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .swiper-pagination {
    margin-right: 0.7rem;
  }
  /* 독도가는길 */
  .go-map-list-dokdo > span {
    content: "";
    padding: 25px;
    top: 0;
    right: 20px;
  }
  .go-map-list-dokdo > p {
    position: absolute;
    top: 23px;
    right: 33px;
    font-size: 1.3rem;
  }
  .go-map-ulleung > span {
    font-size: 1.5rem;
    top: 38%;
    left: 45;
    transform: translateX(-50%);
  }
  .go-map-dockdo > a > .dong {
    font-size: 1.4rem;
    top: 18%;
    left: 25%;
  }
  .go-map-dockdo > a > .seo {
    font-size: 1.4rem;
    position: absolute;
    top: 42%;
    left: 59%;
  }
  /* 독도가는길 예매 */
  .go-map-top {
    height: 100px;
  }
  .go-map-top .go-map-top-list li i {
    font-size: 2.3rem;
    padding: 10px 0;
  }
  .go-map-top .go-map-top-list li p {
    font-size: 1.4rem;
    font-family: "GmarketSansMiddle";
  }
  .go-map-top .go-map-top-list li button {
    margin-top: 10px;
    padding: 5px 10px;
  }
}
@media screen and (max-width: 500px) {
  /* 독도가는길 */
  .go-map-list-dokdo > span {
    content: "";
    padding: 20px;
    top: 0;
    right: 20px;
  }
  .go-map-list-dokdo > p {
    position: absolute;
    top: 18px;
    right: 30px;
    font-size: 1.2rem;
  }
  .go-map-dockdo > a > .seo {
    font-size: 1.3rem;
    position: absolute;
    top: 42%;
    left: 57%;
  }
  .go-map-list-dokdo > img {
    width: 35px;
    height: auto;
    position: absolute;
    top: -20px;
    right: 5px;
  }
  /* 독도가는길 예매 */
  .go-map-top .go-map-top-list li i {
    font-size: 2rem;
    padding: 10px 0;
  }
  .go-map-top .go-map-top-list li p {
    font-size: 1.4rem;
    font-family: "GmarketSansMiddle";
  }
  .go-map-top .go-map-top-list li button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 450px) {
  /* 우리독도 >> 이유 */
  .reason {
    height: 52.08vw;
    min-height: 676px;
  }
  .reason-txt p {
    margin: 2rem 0 2.5rem 0;
    line-height: 1.6;
    /* 2줄 말줄임 출력 */
    height: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  /* 독도가는길 */
  .go-map-list-dokdo > span {
    content: "";
    padding: 20px;
    top: 0;
    right: 10px;
  }
  .go-map-list-dokdo > p {
    position: absolute;
    top: 18px;
    right: 20px;
  }
  .go-map-list-dokdo > img {
    width: 32px;
    height: auto;
    position: absolute;
    top: -20px;
    right: 0px;
  }
  .go-map-dockdo > a > .dong {
    font-size: 1.3rem;
    top: 18%;
    left: 25%;
  }
  /* 독도가는길 예매 */
  .go-map-top .go-map-top-list li i {
    font-size: 2rem;
    padding: 10px 0;
  }
  .go-map-top .go-map-top-list li p {
    font-size: 1.3rem;
    font-family: "GmarketSansMiddle";
  }
  .go-map-top .go-map-top-list li button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 400px) {
  /* 독도 가는길 */
  .go-map-list-dokdo > span {
    content: "";
    padding: 20px;
    top: -7px;
    right: 5px;
  }
  .go-map-list-dokdo > img {
    width: 30px;
    height: auto;
    position: absolute;
    top: -23px;
    right: 0px;
  }
  .go-map-list-dokdo > p {
    position: absolute;
    top: 13px;
    right: 15px;
    font-size: 1.2rem;
  }
  .go-map-ulleung > span {
    font-size: 1.3rem;
    top: 38%;
    left: 45;
    transform: translateX(-50%);
  }
  .go-map-dockdo > a > .dong {
    font-size: 1.2rem;
    top: 18%;
    left: 23%;
  }
  .go-map-dockdo > a > .seo {
    font-size: 1.2rem;
    position: absolute;
    top: 42%;
    left: 57%;
  }
  /* 독도가는길 예매 */
  .go-map-top .go-map-top-list li i {
    font-size: 1.8rem;
    padding: 10px 0;
  }
  .go-map-top .go-map-top-list li p {
    font-size: 1.1rem;
  }
  .go-map-top .go-map-top-list li button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 350px) {
  /* 독도가는길 예매 */
  .go-map-list-dokdo > span {
    top: -7px;
    right: 0px;
  }
  .go-map-list-dokdo > p {
    top: 12px;
    right: 10px;
    font-size: 1.1rem;
  }
  .go-map-list-dokdo > img {
    width: 30px;
    height: auto;
    position: absolute;
    top: -23px;
    right: -5px;
  }
  .go-map-dockdo > a > .dong {
    font-size: 1.2rem;
    top: 18%;
    left: 23%;
  }
  .go-map-dockdo > a > .seo {
    font-size: 1.1rem;
    position: absolute;
    top: 42%;
    left: 56%;
  }
  /* 독도 가는길 */
  .go-map-top .go-map-top-list li p {
    font-size: 1rem;
  }
}
